version: '3.4'
name: softv-web

services:
  softv.site:
    environment:
        - NODE_ENV=production
        - GENERATE_SOURCEMAP=false
  softhub.docs:
    environment:
        - NODE_ENV=production
        - GENERATE_SOURCEMAP=false
  softhub.docs.ru:
    environment:
        - NODE_ENV=production
        - GENERATE_SOURCEMAP=false
  softhub.docs.zh:
    environment:
        - NODE_ENV=production
        - GENERATE_SOURCEMAP=false
  softhub.api:
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - ASPNETCORE_HTTPS_PORTS=5001
        - ASPNETCORE_URLS=http://0.0.0.0:5001
    volumes:
        - ./certs/other:/https/
        - ./certs/secret:/home/app/.microsoft/usersecrets:ro
        - ./certs/secretApi:/home/app/.microsoft/customsecrets:ro
        - ./certs/secret:/home/app/.aspnet/https:ro