name: hapet-site

services:
  hapet.docs:
    environment:
        - NODE_ENV=production
        - GENERATE_SOURCEMAP=false
  hapet.docs.ru:
    environment:
        - NODE_ENV=production
        - GENERATE_SOURCEMAP=false
  hapet.docs.zh:
    environment:
        - NODE_ENV=production
        - GENERATE_SOURCEMAP=false
