version: '3.4'
name: hapet-site

services:
  softhub.docs:
    environment:
        - NODE_ENV=production
        - GENERATE_SOURCEMAP=false
  softhub.docs.ru:
    environment:
        - NODE_ENV=production
        - GENERATE_SOURCEMAP=false
  softhub.docs.zh:
    environment:
        - NODE_ENV=production
        - GENERATE_SOURCEMAP=false
