/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* Import Merriweather font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

.heroBanner {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem;
  box-sizing: border-box;
}

.heroTitle {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 3rem;
  color: var(--ifm-color-primary);
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .heroTitle {
    font-size: 2rem;
  }
  
  .heroBanner {
    padding: 1rem;
  }
}

